module.exports = {
  databases: {
    mongo: {
      host: 'hostname'
      database: 'database_name',
      port: 00000,
      user: 'user_name',
      password: 'password_name'
      timeout: 500,
    },
  },
  cookieSecret: 'some secret',
  tmpPath: 'some tmp path'
}
